.App {
  font-family: sans-serif;
  text-align: center;
}

.blinking-cursor {
  position: relative;
  font: inherit;
  color: inherit;
  line-height: inherit;
  left: 3px;
  top: 0;
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 1;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
